<% City.all.each_value do |c| %>
  <% if not c.nil? %>
    <h1><%= c.name %></h1>
    <p>
      It's <%= c.weather[:temperature] %>ºF
      and it looks like <%= c.weather[:description] %>
    </p>
  <% end %>
<% end %>

<%= form_with local:true, method: "get" do |f| %>
  <%= f.text_field :city%>
  <%= f.submit %>
<% end %>